*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --neutral: rgb(58, 55, 55);
    --wrong: rgb(218, 51, 51);
    --correct: rgb(81, 202, 81);
    --button: rgb(80, 208, 219);
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral);
}

body.correct {
    background-color: var(--correct);
}

body.wrong {
    background-color: var(--wrong);
}

.grid-container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.quiz-timer {
    text-align: right;
}
.point-tracker {
    text-align: right;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: var(--button);
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.bnt:hover {
    border-color: black;
}

.btn.correct {
    background-color: var(--correct);
}

.btn.wrong {
    background-color: var(--wrong);
}

.start-btn {
    font-size: 5rem;
    font-weight: bold;
    padding: 10px 20px
}

.next-btn {
    font-size: 5rem;
    font-weight: bold;
    padding: 10px 20px
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}